{
	"_comment" : {
		"About config.private.json" : "This file is ignored via .gitignore and is used to store any sensitive information",
		"step 1" : "Obtain a Github API token by executing the following command, and be sure to remove the slashes: `curl https://api.github.com/authorizations -d '{\"scopes\": [\"gist\"],\"note\": \"Milo\"}' --user yourUsername:yourPassword`",
		"step 2" : "Copy & paste the value in 'token' to the field below",
		"step 2" : "Delete _comment if you like",
		"step 3" : "Profit!"
	},
	"global" : {
		"github" : {
			"token" : "YOUR_TOKEN_GOES_HERE"
		}
	},
	"libraries" : {
		"_comment" : "You can place any sensitive information specific to a library here as well",
		"milo" : {
			"_comment" : "Intentionally empty."
		},
	}
}